.main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 100%;
}

.avaTitle {
  flex-shrink: 1;
  flex-basis: 75px;
}

.ava {
  width: 60px;
  height: 60px;
}

.ava img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.btn {
  display: inline-block;
}

.descriptionTitle {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: 0.7rem;
  max-width: 500px;
  overflow: hidden;
}

.loc {
  text-align: right;
}

span {
  cursor: pointer;
  padding-right: 3px;
  margin-right: auto;
}

.selectedPage {
  font-weight: bold;
}

.switcher {
  margin-bottom: 10px;
}

article {
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

.name {
  font-size: 20px;
}
