.main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.avaTitle {
  flex-shrink: 1;
  flex-basis: 75px;
}

.ava {
  width: 60px;
  height: 60px;
}

.ava img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.btn {
  display: inline-block;
}

.descriptionTitle {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.loc {
  text-align: right;
}
