.post {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.postText {
  display: flex;
}

.postText p {
  padding-top: 10px;
}

.postimg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline;
  margin-right: 20px;
}
